/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 35%;
  /* The width is the width of the web page */
  box-shadow: 10px 10px 5px grey;

  margin-left: 150px;
  margin-bottom: 150px;
}
body form {
  font-family: 'oswald', sans-serif;
  font-size: xx-large;
}
h1 {
  font-family: 'oswald', sans-serif;
  font-size: 50px;
  text-align: center;
  background-color:white;
  display: flex;
  justify-content: center;
  padding-top: 1%;
  flex-wrap: wrap;
  height: 100px;
  width: 100%;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

div.transbox label {
  margin: 5%;
  font-weight: bold;

  color: #000000;
}
form {
  padding: 150px;
}
.my-center {
  text-align: center;
}

Result Skip Results Iframe
EDIT ON
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);

body {
background: linear-gradient(90deg, #7474BF 10%, #348AC7 90%);
}
#weather_wrapper{
width: 400px;
margin: 100px auto;
}
.weatherCard{
width: 400px;
height: 200px;
font-family: 'oswald';
position: relative;
}
.currentTemp{
width: 220px;
height: 200px;
background: rgb(41, 41, 41);
position: absolute;
top: 0;
left: 0;
}
.currentWeather{
width: 180px;
height: 200px;
background: rgba(61, 196, 241, 0.5);
opacity: 1;
margin: 0;
position: absolute; 
top: 0;
right: 0;
}
.temp{
font-size: 45px;
text-align: center;
vertical-align: middle;
display: block;
font-weight: 300;
color: rgb(255, 255, 255);
padding: 20px 0 0;
}
.location{
color: rgb(255, 255, 255);
text-align: center;
text-transform: uppercase;
font-weight: 700;
font-size: 30px;
display: block;
}
.conditions{
font-family: weathericons;
font-size: xx-large;
position: relative;
}

.info{
  width: 180px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgb(42, 178, 234);
  font-weight: 700;
  color: rgb(255, 255, 255);
  }

  .wind {
    width: 53%;
    right: 12%;
    position: absolute;
    top: 3px;
    display: flex;
    text-align: center;
  }
  
  img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: 70%;
    margin-left: 12%;
}
@media screen and (max-width: 1000px) {

}