/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 35%;
    /* The width is the width of the web page */
  }
  body {
    font-family: 'Tangerine', serif;
    font-size: 24px;
  }